<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>
       {% if page.title %}
         {{ page.title }} //
       {% endif %}
       Paolo Bosetti
     </title>
     <meta name="author" content="Paolo Bosetti" />
     <!-- <link href="http://feeds2.feedburner.com/pbosetti" rel="alternate" title="Paolo Bosetti" type="application/atom+xml" /> -->

     <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
     <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <a href="http://github.com/pbosetti"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub" /></a>

    <div id="site">
      <!-- <a id="subscribe" href="http://feeds2.feedburner.com/pbosetti"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a> -->
      
      <h1><a href="/">Paolo Bosetti</a></h1>
      
      <div class="clear"></div>
      
      <div id="sidebar">
        <a href="http://meccablog.ing.unitn.it"><img src="/images/logo.png" alt="Mechasuit"></a>
        <h3>Me</h3>
        <dl id="contact">
          <dt>Name</dt>
          <dd>Paolo Bosetti</dd>
          <dt>Email</dt>
          <dd>paolo.bosetti #AT# me.com</dd>
          <dt>Company</dt>
          <dd><a href="http://meccablog.ing.unitn.it/">University of Trento</a></dd>
        </dl>
        <h3>And then some</h3>
        <ul id="profiles">
          <li><a href="http://twitter.com/P4010">Twitter</a></li>
          <li><a href="http://github.com/pbosetti">GitHub</a></li>
          <li><a href="http://punz.posterous.com">Posterous</a></li>
      </div>
      
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6/prototype.js"></script>
      
      <div id="content">
        {{ content }}
      </div>
      
      <div class="clear"></div>
      
    </div>
  </body>
</html>
